

.tablon{
    width: 81%;
    padding: 2rem 0rem;
    height: 89vh;
    font-family: Poppins;
    align-content: flex-start;
}

.datos{
    font-family: 'Montserrat';
    width: 260px;
    overflow: scroll;
    text-align: center;  
    padding: 20px 0rem 1rem 1rem;
    color: black;

}
::-webkit-scrollbar {
    display: none;
}




.rowLine{
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;   
}

 

.informacion{
    border: 0;
    background-color: transparent;
}